<div class="rents-container">
  <mat-toolbar>
    <span>{{ 'global.car' | translate }}</span>
  </mat-toolbar>

  <div class="filters">

    <mat-form-field>
      <mat-label>{{ 'filter.brand' | translate }}</mat-label>
      <mat-select [(value)]="selectedBrands">
        <mat-option *ngFor="let category of brands" [value]="category">
          {{ category }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'filter.model' | translate }}</mat-label>
      <mat-select [(value)]="selectedModels">
        <mat-option *ngFor="let category of models" [value]="category">
          {{ category }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'filter.price' | translate }}</mat-label>
      <mat-select [(value)]="selectedPriceRanges">
        <mat-option *ngFor="let area of priceRanges" [value]="area">
          {{ area }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'global.search' | translate }}</mat-label>
      <input matInput [(ngModel)]="searchText">
    </mat-form-field>

    <button mat-button (click)="clearFilters()">
      <mat-icon>filter_list</mat-icon>
      {{ 'clearFilters' | translate }}
    </button>
  </div>

  <mat-card *ngFor="let rent of filteredRents" class="rent-card">
    <div class="content-container">
      <p class="rent-title">{{ rent.brand }} {{ rent.model }}</p>
      <p class="rent-description">{{ rent.additionalInfo }} | {{ rent.price }}</p>

      <div class="button-container">
        <button *ngIf="userRole === 'ROLE_CITIZEN'" mat-button class="buy-btn" (click)="purchaseCar(rent.carId)">BUY</button>
        <button *ngIf="userRole === 'ROLE_CITIZEN'" mat-button class="test-drive-btn" (click)="openCalendar(rent.carId)">TEST DRIVE</button>
      </div>
      <!-- Dealership Buttons -->
      <div class="button-container" *ngIf="userRole === 'ROLE_DEALERSHIP'">
        <button mat-icon-button class="edit-btn" aria-label="Edit" >
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="delete-btn" aria-label="Delete" (click)="deleteCar(rent.carId)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>

  <app-date-time-picker-modal *ngIf="isCalendarOpen" (close)="closeCalendar()" [carId]="selectedCarId"> </app-date-time-picker-modal>



  <div class="add-car-container">
    <!-- Add Car Button -->
    <button *ngIf="userRole === 'ROLE_DEALERSHIP'" class="add-car-btn" (click)="openModal()" >
      <span>➕</span> Add Car
    </button>

    <app-add-car-modal *ngIf="isModalOpen" (close)="closeModal()"></app-add-car-modal>
  </div>

</div>
