.rents-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.filters {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.rent-card {
  display: flex;
  gap: 16px;
  padding: 16px;
}

.date-container {
  flex-shrink: 0;
}

.date-box {
  background-color: var(--calendar-color);
  color: var(--calendar-text-color);
  text-align: center;
  padding: 0.8%;
  border-radius: 10%;
  width: 80px;
}

.date-box .day {
  font-size: 32px;
  font-weight: bold;
}

.date-box .month {
  font-size: 18px;
  font-weight: 600;
}

.date-box .year {
  font-size: 14px;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rent-title {
  margin: 0;
  font-size: 18px;
  color: var(--calendar-color);
}

.rent-description {
  margin: 0;
  font-size: 14px;
  color: var(--event-description-color);
}

.rent-time {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: var(--event-time-color);
}

mat-icon {
  font-size: 16px;
}
