<div class="events-container">
  <mat-toolbar>
    <span>{{ 'global.events' | translate }}</span>
  </mat-toolbar>

  <div class="filters">
    <mat-form-field>
      <mat-label>{{ 'filter.category' | translate }}</mat-label>
      <mat-select [(value)]="selectedCategory">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'filter.areaOfInterest' | translate }}</mat-label>
      <mat-select [(value)]="selectedAreaOfInterest">
        <mat-option *ngFor="let area of areasOfInterest" [value]="area">
          {{ area }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'global.search' | translate }}</mat-label>
      <input matInput [(ngModel)]="searchText">
    </mat-form-field>

    <button mat-button (click)="clearFilters()">
      <mat-icon>filter_list</mat-icon>
      {{ 'clearFilters' | translate }}
    </button>
  </div>

  <mat-card *ngFor="let event of filteredEvents" class="event-card">
    <div class="date-container">
      <div class="date-box">
        <div class="day">{{ event.day }}</div>
        <div class="month">{{ event.month }}</div>
        <div class="year">{{ event.year }}</div>
      </div>
    </div>
    <div class="content-container">
      <a href="{{event.url}}" target="_blank" class="day-link">
        {{ event.title }}
      </a>
      <p class="event-description">{{ event.description }}</p>
      <div class="event-time">
        <mat-icon>schedule</mat-icon>
        {{ event.time }}
      </div>
    </div>
  </mat-card>
</div>
