.header {
  background-color: var(--template-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 5.5rem;
}

.logo {
  position: absolute;
  left: 1%;
  justify-content: center;
  max-width: 30%;
  max-height: 20%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logo img {
  width: auto;
  height: 90px;
  max-width: 100%;
  max-height: 100px;
}

.logo button {
  height: 100px;
  margin-left: 25px;
  font-size: 40px;
  background-color: transparent;
  border: 1px solid rgba(204, 204, 204, 0);
  cursor: pointer;
}

.logo button i:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.logo button i {
  color: var(--dark-template-color);
}

.right-button {
  position: absolute;
  right: 1%;
}

.topBar-language {
  margin-left: auto;
}

.mat-toolbar-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header2 {
  background-color: var(--dark-template-color);
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.tabs {
  display: flex;
  gap: 30px;
  position: relative;
}

.tab-item {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

.tab-item:hover {
  color: var(--active-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title{
  background-color: rgba(255, 255, 255, 0);
  color: white;
  padding: 10px;
  font-size: 23px;
  font-weight: 500;
  border: none;
}

.title:hover {
  color: var(--active-color);
  cursor: pointer;
}

.active{
  border-bottom: 2px solid var(--active-color);
}

.breadcrumb-container {
  background-color: var(--dark-template-color);
  padding: 10px 0 10px 1%;
  color: white;
}


.not-last-breadcrumb-item {
  color: white;
  font-weight: 300;
  cursor: pointer;
}

.not-last-breadcrumb-item:hover{
  font-weight: 300;
  color: var(--active-color);
}

.last-breadcrumb-item{
  color: white;
  font-weight: 300;
  cursor: default;
}

.logout-button {
  font-size: 16px;
  font-weight: 500;
  padding: 8px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-button:hover {
  background-color: var(--active-color);
  color: white;
}
