<mat-toolbar>
  <mat-toolbar-row class="header">
    <div class="logo">
      <img src="assets/images/logo-transparent.png" [routerLink]="['']" alt="Logo"/>
      <button *ngIf="!isHidden" matTooltip="{{'global.openMenu' | translate }}" matTooltipPosition="right" (click)="showHideMenu()">
        <i class="fas fa-bars"></i>
      </button>
      <button *ngIf="isHidden" matTooltip="{{'global.closeMenu' | translate }}" matTooltipPosition="right" (click)="showHideMenu()">
        <i class="fas fa-times"></i>
      </button>
    </div>

    <div class="right-button">
       <span class="topBar-language">
    <button mat-icon-button [matMenuTriggerFor]="languageMenu" matTooltip="{{ 'global.changeLanguage' | translate }}">
      <img *ngIf="localStorage.getItem('language') === 'en'" src="assets/images/flags/en-round.png" alt="English Flag"/>
      <img *ngIf="localStorage.getItem('language') === 'el'" src="assets/images/flags/el-round.png" alt="Greek Flag"/>
    </button>
  </span>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="header2" *ngIf="isHidden">
    <div class="tabs">
      <app-drop-down-menu buttonLabel="{{ 'global.news' | translate }}" routerLinkActive="active">
        <ng-template #menuItem>
          <p routerLink="/news">{{ 'contents.news' | translate }}</p>
        </ng-template>
        <ng-template #menuItem>
          <p routerLink="/events">{{ 'global.events' | translate }}</p>
        </ng-template>
      </app-drop-down-menu>

      <!-- Contact Tab -->
      <button class="title" routerLink="/contact" routerLinkActive="active">{{ 'global.contact' | translate }}</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #languageMenu="matMenu">
  <button mat-menu-item *ngIf="currentLanguage !== 'en'" (click)="changeLanguage('en')">
    <img src="assets/images/flags/en-min.png" alt="English Flag" style="padding-right: 10px !important;"/>
    <span style="color: var(--dark-template-color) !important;">{{ 'global.english' | translate }}</span>
  </button>
  <button mat-menu-item *ngIf="currentLanguage !== 'el'" (click)="changeLanguage('el')">
    <img src="assets/images/flags/el-min.png" alt="Greek Flag" style="padding-right: 10px !important;"/>
    <span style="color: var(--dark-template-color) !important;">{{ 'global.greek' | translate }}</span>
  </button>
</mat-menu>

<!-- Breadcrumb -->
<div class="breadcrumb-container">
  <xng-breadcrumb [autoGenerate]="false">
    <ng-container *xngBreadcrumbItem="let breadcrumb; let last = last; let first = first;">
      <b class="not-last-breadcrumb-item" *ngIf="first"> <i class="fa fa-home"></i></b>
      <b  class="not-last-breadcrumb-item" *ngIf="!last && !first" [routerLink]="breadcrumb.url">{{ 'breadcrumb.'+breadcrumb | translate}}</b>
      <b class="last-breadcrumb-item" *ngIf="last && !first">{{'breadcrumb.'+ breadcrumb | translate}}</b>
    </ng-container>
  </xng-breadcrumb>
</div>
