.header {
  background-color: var(--template-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo {
  position: absolute;
  left: 1%;
  top: 13%;
  max-width: 20%;
  max-height: 10%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logo img {
  width: auto;
  height: 55px;
  max-width: 100%;
  max-height: 55px;
}

.right-button {
  position: absolute;
  right: 1%;
}

.topBar-language {
  margin-left: auto;
}

.mat-toolbar-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header2 {
  background-color: var(--dark-template-color);
  color: #ffffff;
}

.tabs {
  display: flex;
  gap: 10%;
}

.tab-item {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

.tab-item:hover {
  color: var(--secondary-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

