<mat-card class="form-card">
  <form [formGroup]="communicationForm" (ngSubmit)="onSubmit()">
    <h2>{{ 'contactForm.contactUs' | translate }}</h2>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'contactForm.name' | translate }}</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'contactForm.email' | translate }}</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'contactForm.message' | translate }}</mat-label>
      <textarea matInput formControlName="message" rows="5"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" style="width: 100%;" class="cta-button" type="submit" [disabled]="communicationForm.invalid">{{ 'global.send' | translate }}</button>
  </form>
</mat-card>
