<div class="news-container">
  <mat-toolbar>
    <span>{{ 'news' | translate}}</span>
  </mat-toolbar>

  <div class="filters">
    <mat-form-field>
      <mat-label>{{ 'category' | translate}}</mat-label>
      <mat-select [(value)]="selectedCategory">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'areaOfInterest' | translate }}</mat-label>
      <mat-select [(value)]="selectedAreaOfInterest">
        <mat-option *ngFor="let area of areasOfInterest" [value]="area">
          {{ area }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'search' | translate }}</mat-label>
      <input matInput [(ngModel)]="searchText">
    </mat-form-field>

    <button mat-button (click)="clearFilters()">
      <mat-icon>filter_list</mat-icon>
      {{ 'clearFilters' | translate }}
    </button>
  </div>

  <div class="news-cards">
    <mat-card *ngFor="let news of filteredNews">
      <mat-card-header>
        <mat-card-title>{{ news.title }}</mat-card-title>
        <mat-card-subtitle>{{ news.date }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ news.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="readMoreAboutNews(news.url)">{{ 'readMore' | translate}}</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
