html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary-color: rgb(0, 45, 66);
  --secondary-color: rgb(40, 109, 125);
  --dark-template-color: rgba(42, 42, 42, 0.96);
  --calendar-color: #004BABFF;
  --calendar-text-color: #FFFFFFFF;
  --event-description-color: #737373FF;
  --event-time-color: #444444FF;
  --template-color: rgba(183, 183, 183, 0.97);
  --drop-down-menu: rgba(129, 129, 129, 0.93);
  --disabled-cta-color: rgba(183, 183, 183, 0.43);
  --disabled-text-color: rgba(0, 0, 0, 0.4);
  --hover-color: rgba(58, 58, 58, 0.18);
  --active-color: #005cbb;
}


.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content-container {
  flex-grow: 1;
}

/*mat-menu change*/
.asw-menu-btn {
  bottom: 8% !important;
}

.mat-mdc-menu-panel{
  min-width: 15rem !important;
  min-height: 100% !important;
  background-color: var(--template-color) !important;
}

.cdk-overlay-pane{
  margin-top: 10px !important;
}

.mat-mdc-menu-item-text{
  font-size: 17px !important;
  color: var(--secondary-color);
  text-align: left;
}

.mat-mdc-menu-item-text:hover{
  color: var(--primary-color);
}
/*End of mat-menu change*/

/*Generic cta-button*/
.cta-button {
  background-color: var(--primary-color) !important;
  color: white !important;
  font-size: 1.2em !important;
  padding: 3% 6% !important;
  border-radius: 50px !important;
  border: none !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease, transform 0.3s ease !important;
}

.cta-button:hover {
  background-color: var(--secondary-color) !important;
  transform: translateY(-2px) !important;
}

.cta-button:focus {
  outline: none !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15) !important;
}

.cta-button:disabled {
  background-color: var(--disabled-cta-color) !important; /* Change this to the color you want */
  color: var(--disabled-text-color) !important; /* Optional: Adjust text color */
  cursor: not-allowed !important; /* Change cursor to show it's disabled */
  transform: none !important; /* Remove the hover effect on disabled state */
}
/*end of generic cta-button*/
