html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary-color: rgb(0, 45, 66);
  --secondary-color: rgb(40, 109, 125);
  --dark-template-color: #2A2A2AFF;
  --calendar-color: #004BABFF;
  --calendar-text-color: #FFFFFFFF;
  --event-description-color: #737373FF;
  --event-time-color: #444444FF;
  --template-color: rgba(183, 183, 183, 0.97);
}


.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content-container {
  flex-grow: 1;
}

/*mat-menu change*/
.asw-menu-btn {
  bottom: 8% !important;
}

.mat-mdc-menu-panel{
  min-width: 15rem !important;
  background-color: var(--template-color) !important;
}
/*End of mat-menu change*/

/*Generic cta-button*/
.cta-button {
  background-color: var(--primary-color) !important;
  color: white !important;
  font-size: 1.2em !important;
  padding: 3% 6% !important;
  border-radius: 50px !important;
  border: none !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease, transform 0.3s ease !important;
}

.cta-button:hover {
  background-color: var(--secondary-color) !important;
  transform: translateY(-2px) !important;
}

.cta-button:focus {
  outline: none !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15) !important;
}
/*end of generic cta-button*/
