html, body { height: 100%; }
body { margin: 0;}

:root {
  --template-color: rgba(183, 183, 183, 0.97);
  --primary-color: rgba(0, 45, 66, 0.74);
  --secondary-color: rgb(40, 109, 125);
  --dark-template-color: #2A2A2AFF;
}

html, body {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content-container {
  flex-grow: 1;
}

.asw-menu-btn {
  bottom: 8% !important;
}
.cdk-overlay-pane{
}

 .mat-mdc-menu-panel{
  min-width: 15rem !important;
   background-color: var(--template-color) !important;
}

