<footer class="footer">
  <div class="footer-container">
    <!-- Left Section -->
    <div class="footer-section">
      <h3>{{ 'global.company' | translate }}</h3>
      <p>
        {{'global.companyDetails' | translate}}
      </p>
    </div>

    <div class="footer-section" style="gap: 5px;">
      <h3>{{ 'global.pageLinks' | translate }}</h3>
      <a href="/buy">{{ 'global.buy' | translate }}</a>
      <a href="/reservation">{{ 'global.car' | translate }}</a>
    </div>

    <div class="footer-section">
      <h3>{{ 'global.contact' | translate }}</h3>
      <a
        href="https://www.google.gr/maps/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div style="display: flex;gap:5px; cursor: pointer;">
          <mat-icon>location_on</mat-icon>
          <p>{{ 'global.locationFooter' | translate }}</p>
        </div>
      </a>
      <div style="display: flex;gap:5px;">
        <mat-icon>schedule</mat-icon>
        <p> {{ 'global.workingTime' | translate }}</p>
      </div>
      <div style="display: flex;gap:5px;">
        <mat-icon>phone</mat-icon>
        <p> <a href="tel:697854526A">697854526A</a></p>
      </div>
      <div style="display: flex;gap:5px;">
        <mat-icon>email</mat-icon>
        <p><a href="mailto:info@car.gr"> info&#64;carrental.gr</a></p>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-icons">
      <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://www.pinterest.com" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-pinterest"></i>
      </a>
    </div>
  </div>
</footer>
