.footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px 0;
  font-size: 14px;
  background-image: url('../../../assets/images/footer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: auto;
  padding: 0 20px;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-section h3 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  color:  #fff;;
}

.footer-section p {
  margin: 5px 0;
  max-width: 100%;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: right;
  margin-top: 20px;
  border-top: 1px solid #333;
  padding-top: 20px;
}

.footer-logos img {
  height: 50px;
  margin: 0 10%;
}

.footer-bottom p {
  font-size: 14px;
  line-height: 1.5;
  margin: 10px 10%;
}


.footer-icons {
  display: flex;
  gap: 15px;
  margin-left: 10%;
}

.footer-icons a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.footer-icons a:hover {
  transform: scale(1.1); /* Enlarge icons on hover */
}
