<footer class="footer">
  <div class="footer-container">
    <!-- Left Section -->
    <div class="footer-section">
      <h3>{{ 'global.company' | translate }}</h3>
      <p>
        {{'global.companyDetails1' | translate}}
      </p>
      <p>
        {{'global.companyDetails2' | translate}}
      </p>
      <p>
        {{'global.companyDetails3' | translate}}
      </p>
      <p>
        {{'global.companyDetails4' | translate}}
      </p>
      <p>
        {{'global.companyDetails5' | translate}}
      </p>
      <p>
        {{'global.companyDetails6' | translate}}
      </p>
    </div>

    <div class="footer-section" style="gap: 5px;">
      <h3>{{ 'global.pageLinks' | translate }}</h3>
      <a target="_blank" href="https://synerginn.eu/el/about/">{{'global.info' | translate}}</a>
      <a target="_blank" href="https://synerginn.eu/el/partners/">{{'global.partners' | translate}}</a>
      <a href="/contact">{{ 'global.contact' | translate }}</a>
    </div>

    <div class="footer-section">
      <h3>{{ 'global.contact' | translate }}</h3>
      <a
        href="https://www.google.gr/maps/place/%CE%A0%CE%B1%CE%BD%CE%B5%CF%80%CE%B9%CF%83%CF%84%CE%AE%CE%BC%CE%B9%CE%BF+%CE%94%CF%85%CF%84%CE%B9%CE%BA%CE%AE%CF%82+%CE%9C%CE%B1%CE%BA%CE%B5%CE%B4%CE%BF%CE%BD%CE%AF%CE%B1%CF%82/@40.3220131,21.7882931,17z/data=!3m1!4b1!4m6!3m5!1s0x1359d24c0cc78607:0xa2afd085784dbbe4!8m2!3d40.322009!4d21.790868!16s%2Fm%2F02vnzc9?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoJLDEwMjExMjMzSAFQAw%3D%3D"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div style="display: flex;gap:5px; cursor: pointer;">
          <mat-icon>location_on</mat-icon>
          <p>{{ 'global.locationFooter' | translate }}</p>
        </div>
      </a>
      <div style="display: flex;gap:5px;">
        <mat-icon>schedule</mat-icon>
        <p> {{ 'global.workingTime' | translate }}</p>
      </div>
      <div style="display: flex;gap:5px;">
        <mat-icon>phone</mat-icon>
        <p> <a href="tel:2461068091">2461-068091</a></p>
      </div>
      <div style="display: flex;gap:5px;">
        <mat-icon>email</mat-icon>
        <p><a href="mailto:info@synerginn.eu"> info&#64;synerginn.eu</a></p>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-icons">
      <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://www.pinterest.com" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-pinterest"></i>
      </a>
    </div>


    <div class="footer-logos ">
      <img src="assets/images/espa-logo.jpg" alt="EU Co-funded" />
    </div>
      <p>
        This project is co-funded by the European Union. View and opinions expressed are
      </p>
      <p>
        however those of the authors only and do not necessarily reflect those of the European
      </p>
      <p>
        Union or the European Commission. Neither the European Union nor the granting
      </p>
      <p>
        authority can be held responsible for them.
      </p>
  </div>
</footer>
